@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap{
  width: 100%;
  height: 100vh;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  /* background-color: yellow; */
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

/* ////////////////////////////////////////// */
.change{
  
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px -5px 34px -5px rgba(0,0,0,0.75);

}
.change h6{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}

.change input{
  
  height: 35px;
  padding-left: 10px;
  border: 2px solid black;
  

}


.change button{
  border: 2px solid black;
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}

.change button:hover{
  background-color: black;
  color: white;
}



